build
.*.swp
semantics/.kompile-*
semantics/*/c*-kompiled
dist
semantics/.depend*
semantics/.lock
semantics/.build
scripts/cdecl-*
deps/cdecl/cdecl-*
.vagrant

# Autoconf
config.log
config.status
autom4te.cache
auxdir
aclocal.m4
m4

# Automake
# Do not write `Makefile.in` manually,
# but always use Automake to generate it.
Makefile.in
# The same with Makefiles

# Libraries
*.o
*.lo
*.la

# Other
.opam
