build
.*.swp
semantics/.kompile-*
semantics/*/c*-kompiled
dist
semantics/.depend*
semantics/.lock
semantics/.build
scripts/cdecl-*
deps/cdecl/cdecl-*
.vagrant

# Autoconf
config.log
config.status
autom4te.cache
auxdir
aclocal.m4
m4

# Libraries
*.o
*.lo
*.la

# Other
.opam
